# Compiled Object files & Dependencies
*.o
*.obj
.d/

# Executables & Binaries
*.bin
*.elf

# PROS Build & IDE
bin/
.vscode/
.cache/
.clangd/
compile_commands.json
temp.log
temp.errors
*.log
*.errors
*.ini

# OS Specific Metadata
.DS_Store
Thumbs.db
desktop.ini